@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.App {
  min-height: 100vh;
  -webkit-transition: background-color 1.5s ease;
  font-family: 'Noto Sans JP';
  display: flex;
  justify-content: center;
  align-items: center;
}
  .App__box {
    background-color: rgb(252, 252, 241);
    position: relative;
    display: table;
    border-radius: 5px;
    padding: 40px;
    width: 35%;
  }

  .App__quote {
    -webkit-transition: color 1.5s ease;
    position: relative;
  }

.text {
  font-size: 24px;
  text-align: center;
  width: 300;
  clear: both;
  width: 100%;
}

.author {
  padding-top: 20px;
  width: 100%;
  font-size: 16px;
  clear: both;
  float: right;
  text-align: right;
}

.buttons {
  display: block;
  width: 100%;
  margin: auto;
}

.button {
  -webkit-transition: background-color 1.5s ease;
  margin-top: 30px;
  outline: none;
  border: none;
  border-radius: 3px;
  height: 40px;
  color: rgb(252, 252, 241);
  display: flex;
  justify-content: center;
  align-items: center;
}

#new-quote {
  float: right;
  width: 110px;
  font-family: 'Noto Sans JP';
  font-size: 14px;

}

#tweet-quote {
  float: left;
  width: 40px;

}

#tumblr-quote {
  margin-left: 5px;
}